<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <title>Button Filter</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.1.1/css/halfmoon.min.css"
          integrity="sha512-Kaju/JzlErKhC47smofkXAdSkvILovmvh2nnok6rgN79oB3Co/T7Pm7Ns8dcpNEN3VTVZDw2ilrUDByzInEabg=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">

</head>

<body>

<div class="page-wrapper with-navbar" ng-controller="PlebController" ng-init="start">

    <nav class="navbar">

        <form class="form-inline" role="search">
            <input type="text" class="form-control" placeholder="Filter" ng-model="filterPhrase"
                   ng-model-options="{debounce: 300}" ng-change="randomPick()" ng-init="filterPhrase='!staging'"/>
        </form>

        <p class="navbar-text">Showing {{filteredButtons.length}} / {{buttons.length}} buttons.</p>

        <div class="navbar-content">
            <button class="btn btn-info" ng-click="randomPick()">Random</button>
        </div>

        <p class="navbar-text" ng-init="randomPick()">
            <b>{{random.buttonName}}</b>&nbsp;{{random.recipe}} <a
                href="https://www.buttonweavers.com/ui/create_game.html?playerButton={{random.buttonName}}"><i
                class="fas fa-dice"></i></a>
        </p>

        <div class="navbar-content ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="far fa-moon" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
        </div>

    </nav>

    <div class="content-wrapper">

        <div class="container">

            <div class="row"
                 ng-repeat="b in filteredButtons = (buttons | multiWordFilter:filterPhrase:'AND' | orderBy:'buttonName') ">
                <div class="col-lg-2">
                    <img class="img-fluid" src="https://www.buttonweavers.com/ui/images/button/{{b.artFilename}}"
                         alt="{{b.artFilename}}"/>
                </div>
                <div class="col-lg-5">
                    <div class=content>
                        <h2 class=content-title>{{b.buttonName}}</h2>
                        <p>{{b.buttonSet}} Set<br/>
                            {{b.recipe}}</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="content">
                        <span class="badge badge-default">#{{b.buttonId}}</span>
                        <span class="badge badge-success" ng-show="b.isTournamentLegal">Tournament Legal</span>
                        <span class="badge badge-danger" ng-show="b.hasUnimplementedSkill">Unimplemented Skill</span>
                        <span class="badge badge-danger" ng-show="b.isStagingOnly">Staging Only</span>
                        <span class="badge badge-primary" ng-repeat="skill in b.dieSkills">{{skill}}</span>
                        <span class="badge badge-default" ng-repeat="type in b.dieTypes">{{type}}</span>
                        <span class="badge badge-secondary" ng-repeat="tag in b.tags">{{tag}}</span>
                        <span class="badge badge-secondary" ng-repeat="bot in b.bots">{{bot}}</span>
                        <span class="badge badge-success" ng-repeat="tournament in b.tournaments">{{tournament}}</span>
                        <a class="badge badge-success" ng-repeat="operation in b.operations"
                           target="_blank" ng-href="{{operation.$url}}">{{operation.label}}</a>
                        <a href="https://www.buttonweavers.com/ui/create_game.html?playerButton={{b.buttonName}}"><i
                                class="fas fa-dice"></i></a>
                        <p><span class=".font-size-12" ng-if="b.count>1">winrate={{b.rate}}% games={{b.count}}</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card"> {{buttonDataDate}} 🔵 {{buttonUnimplDate}} 🔵 {{buttonStatsDate}}</div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
        integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
        integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.1.1/js/halfmoon.min.js"
        integrity="sha512-8fN/MQrHBCMmkx2t4QwGODGHwQf8VxCeNwNkJz0gjt5JrlUfJ5zNlMr9lrzhnl7DSN+5E16YmMHnfomnQmvSoA=="
        crossorigin="anonymous"></script>
<script>
    angular.module('myApp', [])
        .service('buttonData',
            function () {
                // reminder to future self: data observed from "Create game" page
                this.getData = function (cb) {
                    fetch("/buttondata.json").then(function (response) {
                        response.json().then(cb)
                    })
                }

            }
        )
        .service('buttonStats',
            function () {
                // reminder to future self: this is from http://stats.dev.buttonweavers.com/ui/stats/
                this.getData = function (cb) {
                    fetch("/buttonstats.json").then(function (response) {
                        response.json().then(cb)
                    })
                }

            }
        )
        .service('buttonUnimpl',
            function () {
                // reminder to future self: data observed from "Create game" page ON STAGING
                this.getData = function (cb) {
                    fetch("/buttonunimpl.json").then(function (response) {
                        response.json().then(cb)
                    })
                }

            }
        )
        .filter('multiWordFilter', function ($filter) {
            return function (inputArray, searchText) {
                var wordArray = searchText ? searchText.toLowerCase().split(/\s+/) : [];
                var wordCount = wordArray.length;
                // each word filters over the results of the last
                for (var i in wordArray) {
                    inputArray = $filter('filter')(inputArray, wordArray[i]);
                }
                return inputArray;
            }
        })
        .controller('PlebController', function ($scope, buttonData, buttonStats, buttonUnimpl, $filter, $timeout) {

            bmaibagels_supported_button_name = ["Echo", "Zero"]
            bmaibagels_unsupported_button_name = [
                "RandomBMMixed",
                "RandomBMMonoskill",
                "RandomBMDuoskill",
                "RandomBMTriskill",
                "RandomBMTetraskill",
                "RandomBMPentaskill"
            ]
            bmaibagels_unsupported_button_set = ["Japanese Beetle"]
            operation_looking_glass_oz_button_name = [
                "Abe Caine",
                "Ace",
                "Adam Spam",
                "Agatha",
                "Al-Khwarizmi",
                "Alabama",
                "Alaska",
                "albertel",
                "Aldric",
                "Alljazzedup80",
                "Amara Wintersword",
                "Amethyst",
                "amica",
                "Anders",
                "Andrew",
                "Angel",
                "Anger",
                "Angora",
                "Anna Lee",
                "AnnoDomini",
                "Anti-Llama",
                "Antonio",
                "Apples",
                "Aquarius",
                "Arashi",
                "Aries",
                "Arkansas",
                "Assailer",
                "Audrey",
                "Avis",
                "Ayeka",
                "Aylee",
                "BabyBM",
                "Bang",
                "barswanian",
                "Bauer",
                "Beatnik Turtle",
                "Beatrice",
                "Benvenito",
                "Bernie",
                "bigevildan",
                "Bijay",
                "Bill",
                "Binder",
                "birdman",
                "Bishop",
                "bluebec",
                "Bluff",
                "Bodie",
                "bonefish",
                "Bozo",
                "Brad",
                "Brand",
                "Brenda",
                "Brent",
                "Brigid",
                "Bruno",
                "Buck",
                "Buck Godot",
                "Buckley",
                "Buddy",
                "Bull",
                "Bun-Bun",
                "Bunnies",
                "Bush",
                "Button of Loathing",
                "CactusJack",
                "Caine",
                "Calmon",
                "Cammy Neko",
                "Cancer",
                "Capricorn",
                "Captain Bingo",
                "Cardie",
                "Carl Friedrich Gauss",
                "Carrow",
                "Carson",
                "Carson (promo)",
                "Carson (West Side)",
                "Cass",
                "Cerise",
                "Cesare",
                "Chad",
                "Chairman Kaga",
                "Chang",
                "Changeling",
                "Changeling (BP)",
                "Charity",
                "Chastity",
                "Cheathem",
                "Cheese Weasel",
                "Cherry",
                "Chris",
                "Chrysalis",
                "Chuck",
                "Clare",
                "Coil",
                "Colorado",
                "Connie",
                "Conspyre",
                "Count Dracula",
                "Crab",
                "Crane",
                "Craptacualr",
                "Crusher",
                "Crysis",
                "Cthulhu",
                "Cuddy",
                "CynCyn",
                "Da Pimp",
                "Daisy",
                "Danielle",
                "Danny",
                "Darrin",
                "Darwin",
                "Dave",
                "Dead Guy",
                "Death",
                "Delia",
                "Delt Rage",
                "Derks",
                "dexx",
                "Dickie",
                "Dirgo",
                "Dixie",
                "Doctor Fret",
                "Don",
                "Donna",
                "Dr. Clay",
                "Dr. Jekyll",
                "Dr. Speculo",
                "Dracha",
                "Drew's Truck",
                "Dunkirk",
                "Durak666",
                "Eberk",
                "Echo",
                "Edda",
                "EDG",
                "Eeyore",
                "Eiko",
                "Ein",
                "Elihu",
                "ElihuRoot",
                "Emerald",
                "Enjileon",
                "Envy",
                "Envy Adams",
                "eon",
                "Erika",
                "Evil Robot Luke",
                "Faith",
                "Famine",
                "Famous",
                "Fan Chung Graham",
                "Farrell",
                "Felicia",
                "Fernando",
                "Ferrer",
                "Final Form GGG",
                "Fingle",
                "Fiorina",
                "Firebreather",
                "Flaire",
                "Flint",
                "Floriano",
                "Frankie",
                "Frasquito",
                "Fuyuko",
                "FuzzFace",
                "GamerXYZ",
                "Garnet",
                "Gawaine",
                "Gemini",
                "Georgia (US)",
                "GG",
                "ghost walker",
                "Giant",
                "Gideon",
                "Gideon G Graves",
                "Gil",
                "Gilly",
                "Gilroy",
                "Ginzu",
                "Glorion",
                "Gluttony",
                "gman97216",
                "Golo",
                "Gore",
                "Gorman",
                "Gratch",
                "grayhawk",
                "GreatWolf",
                "Greed",
                "Green Apple",
                "Greg Universe",
                "grend",
                "Gripen",
                "Grist",
                "Growf",
                "Grym",
                "Guenever",
                "Guillermo",
                "hairlesswonder",
                "Hale",
                "Hamilton",
                "Hammer",
                "Hannah",
                "Harbinger",
                "Harry Pudding",
                "haruspex",
                "Hazel",
                "Hedy",
                "Holiday",
                "Hollis",
                "Honzo",
                "Hope",
                "Horace",
                "Horde O Ninjas",
                "Howling Wolf",
                "Hrodgar",
                "Hunter",
                "Iago",
                "Idaho",
                "ifni",
                "Igor",
                "Igor (promo)",
                "Illinois",
                "Indiana",
                "Inez",
                "Invisible Man",
                "Iron Chef Chinese",
                "Iron Chef French",
                "Iron Chef Italian",
                "Iron Chef Japanese",
                "Isabel",
                "itachi",
                "Jackie",
                "Jamie",
                "Janet",
                "Jasper",
                "Jasyeman",
                "Jean-Paul",
                "Jedite",
                "jeffboyardy",
                "Jellybean",
                "Jerry",
                "Jet",
                "jgenzano",
                "Jingjing",
                "Jocasta",
                "Joe McCarthy",
                "John Kovalic",
                "Johnny",
                "Jolene",
                "Jorgi",
                "Jose",
                "Jota",
                "Judah Maccabee",
                "Julz",
                "Kaeriol",
                "Kagato",
                "KaijuGamer",
                "Kainar",
                "Kansas",
                "Karl",
                "Katayanagi Twins",
                "kaufman",
                "Keegan",
                "Ken",
                "Kentucky",
                "Kiki",
                "King Arthur",
                "King Endymion",
                "Kith",
                "Kitty Cat Seven",
                "Kiyone",
                "Klaus",
                "kleric",
                "Knives Chau",
                "Konami",
                "Kremlina",
                "Krosp",
                "Kublai",
                "Lab Rat",
                "lackey",
                "Lady B",
                "Lady K",
                "Lady Luck",
                "LadyJ",
                "Lancelot",
                "Lapis Lazuli",
                "Largo",
                "Lark",
                "Leo",
                "Leonard Eugene Dickson",
                "Libra",
                "Limax",
                "Linnea",
                "Lion (SU)",
                "Lisa",
                "Little Sven",
                "Lizzie",
                "llippen5",
                "Lola",
                "Loren",
                "Lorrie",
                "Lucas Lee",
                "Luce",
                "Lucky",
                "Luna & Artemis",
                "Lust",
                "Macky",
                "Mad Hatter",
                "Maggie",
                "Magical Witch Critical Miss",
                "Magician",
                "Magistra",
                "Maine",
                "Malachite",
                "malarson",
                "Marilyn Monroe",
                "Marin",
                "Mariusz",
                "Marta",
                "Maskin",
                "Massachusetts",
                "Matt",
                "Matt Ron",
                "Matthew Patel",
                "Mau",
                "Max",
                "MAX (promo)",
                "Max Factor",
                "McGinty",
                "Me am ORK!",
                "Merlin",
                "Michie",
                "Micro",
                "Mihoshi",
                "Mike Young",
                "Min-Szu",
                "Minnesota",
                "Mischa",
                "Mister Peach",
                "mlvanbie",
                "Mondo",
                "Monique",
                "Monkeys",
                "Montague (Blademasters)",
                "Montana",
                "Montgomery",
                "Monty Brown",
                "Mordred",
                "Morgan",
                "Morgan Le Fay",
                "MothMan",
                "Mushu",
                "Nadia",
                "Naga",
                "Nala",
                "Nara",
                "Nebraska",
                "Nega Scott",
                "Neo-Queen Serenity",
                "Nephlite",
                "Nerni",
                "Nethershadow",
                "New Hampshire",
                "New Jersey",
                "New York",
                "Ngozi",
                "Nickie",
                "Nihlathak",
                "Nikolai",
                "Niles",
                "Nimue",
                "NoopMan",
                "North Carolina",
                "North Dakota",
                "Notorious",
                "O-Lass",
                "Octavia",
                "Ogi",
                "Ohio",
                "Okaru",
                "Oklahoma",
                "Oni",
                "opedog",
                "Oregon",
                "Orlando",
                "Pain",
                "Pappy",
                "Parasprites",
                "Paris",
                "Patience",
                "Paul Erdos",
                "Peace",
                "Pearl",
                "Perf",
                "Peridot",
                "perlmunkee",
                "Pestilence",
                "Phantom Zero",
                "Phil",
                "Phoenix",
                "Phuong",
                "Pikathulhu",
                "Pilot Joe",
                "Ping",
                "Pinkie Pie",
                "Piro",
                "Pjack",
                "Polly",
                "Polonius",
                "Poly",
                "Porter",
                "Pride",
                "Prince Diamond",
                "Princess Serena",
                "Prudence",
                "Pythagoras",
                "Queen Beryl",
                "Queen Of Hearts",
                "Queen Serenity",
                "Rainbow Dash",
                "Ramona Flowers",
                "Randarch",
                "RandomBMAnime",
                "RandomBMFixed",
                "RandomBMSoldiers",
                "RandomBMVanilla",
                "Randy",
                "Rarity",
                "Reaver",
                "Reggie Rage",
                "Regina",
                "Reilly",
                "Renee",
                "Rider",
                "Riff",
                "Rikachu",
                "Rini",
                "Roger",
                "Rold Rage",
                "Ron Graham",
                "Ronin",
                "Roxy Richter",
                "Rubeus",
                "Rumbles",
                "Ryo-Ohki",
                "Ryoko",
                "Sachin",
                "Sailor Jupiter",
                "Sailor Man",
                "Sailor Mars",
                "Sailor Mercury",
                "Sailor Moon",
                "Sailor Venus",
                "SailorMur",
                "Sal",
                "Sapphire",
                "Sasami",
                "SC (The Deuce)",
                "Scorpio",
                "Scorpion",
                "Scott",
                "Scott Pilgrim",
                "Seiji",
                "Shadow Warriors",
                "Shepherd",
                "Shore",
                "Simon",
                "Skeeve",
                "Skomp",
                "slamkrypare",
                "Sloth",
                "Sly",
                "smallfrogge",
                "Smith",
                "Smoot",
                "Social Class",
                "Soja's Guardians",
                "Sonia",
                "South Carolina",
                "Spencer",
                "Spider",
                "Spike",
                "Spooky",
                "Stacie",
                "Stamps",
                "Starchylde",
                "Stark",
                "Stefano",
                "Steve (The Core)",
                "Steven Universe",
                "Stick",
                "stoooooooo",
                "Strik",
                "Stumbling Clowns",
                "Super Germ",
                "Sven",
                "Sydney",
                "Sylvia Branham",
                "Synthia",
                "Szechuan",
                "Talus",
                "Tamiya",
                "Tanya",
                "Taurus",
                "Temperance",
                "Tenchi",
                "Tess",
                "Thaddeus",
                "The Assassin",
                "The Effster",
                "The Fictitious Alan Clark",
                "The Flying Squirrel (unofficial)",
                "The Fog",
                "The Frenchman",
                "The GM",
                "The Jabberwock",
                "The James Beast",
                "The Tick",
                "Theano",
                "TheFool",
                "Them Bones",
                "Theophilus",
                "Thor",
                "Tiffany",
                "Timea",
                "Tirade",
                "Todd Ingram",
                "Tonase",
                "Tony",
                "Tony (The Core)",
                "Torg",
                "Trogdor",
                "Tsusuko",
                "Tuxedo Mask",
                "Tweedledum+dee",
                "Twenty-One",
                "Tyler Durden",
                "Ulthar",
                "Uncle Scratchy",
                "UncleMilo",
                "Utah",
                "Vermont",
                "Vicious",
                "Vincent",
                "Virginia",
                "Virgo",
                "Von Pinn",
                "Wallace",
                "War",
                "Washington",
                "Washu",
                "Wastenott",
                "Werner",
                "West Virginia",
                "White Rabbit",
                "White Tiger",
                "Wicked Lady",
                "Windsor",
                "Wisconsin",
                "Wiseman",
                "Wolfman",
                "wranklepig",
                "Wren",
                "Wu Lan",
                "Wumpus",
                "Wyoming",
                "Xylene",
                "Yamaichi",
                "Yeti",
                "Yseulte",
                "Yuranosuke",
                "Zedna",
                "Zeppo",
                "Zero",
                "Zoe",
                "Zoycite"
]
            // Keep this list aligned with all implemented and parsing-only BMAIR capabilities.
            bmaibagels_supported_die_features = [
                "Auxiliary", "Berserk", "Chance", "Doppelganger", "Fire", "Focus", "Insult", "Jolt", "Konstant", "Maximum",
                "Mighty", "Mood", "Morphing", "Null", "Ornery", "Poison", "Queer", "Radioactive", "Rage",
                "Reserve", "Shadow", "Slow", "Speed", "Stealth", "Stinger", "TimeAndSpace", "Trip", "Turbo",
                "Unique", "Unskilled", "Value", "Warrior", "Weak",
                "P Swing", "Q Swing", "R Swing", "S Swing", "T Swing", "U Swing", "V Swing", "W Swing",
                "X Swing", "Y Swing", "Z Swing", "Twin", "Option"
            ];
            nala_supported_button_name = ["Giant", "Echo"]
            nala_unsupported_button_name = []
            nala_unsupported_button_set = ["Japanese Beetle"]
            nala_supported_die_features = [
                "Auxiliary", "Berserk", "Boom", "Chance", "Doppelganger", "Focus", "Insult", "Konstant", "Mad",
                "Maximum", "Mighty", "Mood", "Morphing", "Null", "Ornery", "Poison", "Queer", "Radioactive",
                "Rage", "Reserve", "Shadow", "Slow", "Speed", "Stealth", "Stinger", "TimeAndSpace", "Trip",
                "Value", "Weak", "P Swing", "R Swing", "S Swing", "T Swing", "U Swing", "V Swing", "W Swing",
                "X Swing", "Y Swing", "Z Swing", "Twin", "Option"
            ]

            buttonData.getData(function (body) {
                buttonStats.getData(function (stats) {
                    buttonUnimpl.getData(function (unimpl) {

                        $scope.buttonStatsDate = stats.message;
                        $scope.buttonUnimplDate = unimpl.message;
                        $scope.buttonDataDate = body.message;
                        $scope.buttonsImpl = body.data;
                        $scope.buttonsUnimpl = unimpl.data;
                        $scope.buttons = _.unionWith($scope.buttonsImpl, $scope.buttonsUnimpl, _.isEqual);

                        implName = $scope.buttonsImpl.map(bimpl => bimpl.buttonName)
                        unimplName = $scope.buttonsUnimpl.map(bunimpl => bunimpl.buttonName)

                        for (var b in $scope.buttons) {
                            var button = $scope.buttons[b];

                            // get isTournamentLegal and other bools into .attributes so they are searchable
                            button.attributes = _(button).pickBy(function (x) {
                                return x === true
                            }).keys().value();

                            // add a special bot flag to some buttons
                            button.bots = []
                            button.tournaments = []
                            button.operations = []
                            let dieFeatures = button.dieSkills.concat(button.dieTypes)

                            if (bmaibagels_supported_button_name.includes(button.buttonName)) {
                                button.attributes.push("BMAIBagels")
                                button.bots.push("BMAIBagels")
                            } else if (!bmaibagels_unsupported_button_name.includes(button.buttonName)
                                && !bmaibagels_unsupported_button_set.includes(button.buttonSet)) {
                                let bmaibagels_diff = dieFeatures.filter(
                                    x => !bmaibagels_supported_die_features.includes(x));
                                if (bmaibagels_diff.length === 0) {
                                    button.attributes.push("BMAIBagels")
                                    button.bots.push("BMAIBagels")
                                }
                            }

                            if (nala_supported_button_name.includes(button.buttonName)) {
                                button.attributes.push("Nala")
                                button.bots.push("Nala")
                            } else if (!nala_unsupported_button_name.includes(button.buttonName)
                                && !nala_unsupported_button_set.includes(button.buttonSet)) {
                                let nala_diff = dieFeatures.filter(x => !nala_supported_die_features.includes(x));
                                if (nala_diff.length === 0) {
                                    button.attributes.push("Nala")
                                    button.bots.push("Nala")
                                }
                            }

                            if (!implName.includes(button.buttonName)) {
                                button.attributes.push("isStagingOnly")
                                button.isStagingOnly = function () {
                                    return true
                                }
                            }
                            for (var t in button.dieTypes) {
                                button.dieTypes[t] = button.dieTypes[t].replace(' ', '-');
                            }
                            if (stats.data[button.buttonName]) {
                                button.rate = stats.data[button.buttonName].rate
                                button.attributes.push("winrate=" + button.rate)
                                button.count = stats.data[button.buttonName].count
                                button.attributes.push("games=" + button.count)
                            }

                            // Eligibility is cumulative: once a compatible button qualifies,
                            // later stats publications cannot remove it from an active operation.
                            if (button.bots.includes("BMAIBagels") &&
                                (button.rate < 60 ||
                                    operation_looking_glass_oz_button_name.includes(button.buttonName))) {
                                button.attributes.push("OP:LOOKGLASS")
                                button.tournaments.push("OP:LOOKGLASS")

                                let ozLabel = "OP:OZ 🌪️👠🌈"
                                button.attributes.push(ozLabel)
                                button.operations.push({
                                    label: ozLabel,
                                    $url: "https://www.buttonweavers.com/ui/create_game.html?playerButton="
                                        + encodeURIComponent(button.buttonName)
                                        + "&opponent=BMAIBagels&opponentButton=Pythagoras&maxWins=3"
                                })
                            }

                        }

                        randInt = function (min, max) {
                            return Math.floor(Math.random() * (max - min)) + min;
                        }

                        $scope.randomPick = function () {
                            $timeout(function () {
                                $scope.random = $scope.filteredButtons[randInt(0, $scope.filteredButtons.length)]
                            }, 10)
                        }

                        $scope.$apply();


                    })
                })
            })


        })
</script>
</body>

</html>
